footer {
    padding: 5% 20px;
    background-color: #353535;
    color: #fff;
    display: flex;
    flex-direction: column;
    font-size: 14px;
    font-weight: 400;
}
  
footer i {
    width: 25px;
}
  
footer img {
    fill: #fff;
    max-width: 35%;
    margin-bottom: 15px;
}

  