.header {
    background: $colour-header;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;   
    &__logo {
        @include heading-shadow($colour-white);
    }
}

.localisation {
    background: $colour-light-grey;
    text-align: center;
}