*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  background: #fff;
}

@font-face {
  font-family: "Shrikhand";
  src: url("/public/fonts/Shrikhand-Regular.ttf");
  src: url("/public/fonts/Shrikhand-Regular.woff");
  font-style: normal;
}
body {
  font-family: "Roboto", sans-serif;
  color: #000;
  font-size: 2rem;
  font-weight: 100;
  line-height: 1.7;
}

h1 {
  font-family: "Shrikhand", sans-serif;
  font-weight: 900;
  font-size: 5rem;
  font-style: italic;
}

h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 2rem;
  font-style: normal;
}

textarea {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-size: 2rem;
}

button {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: italic;
  font-size: 2.75rem;
}

.btn {
  background-image: linear-gradient(to top, #9356DC 0%, #FF79DA 100%);
  padding: 1.2rem 2.5rem;
  color: #fff;
  cursor: pointer;
  transition: 0.5s;
  background-size: 200% auto;
  border-radius: 25px;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
}
.btn:hover {
  background-position: bottom bottom;
  color: #fff;
  text-decoration: none;
}
.btn--full-width {
  width: 100%;
  margin: 0 auto;
}

.btn-step {
  background-color: #f6f6f6;
  padding: 2rem 2.5rem;
  margin-bottom: 20px;
  border-radius: 20px;
  box-shadow: 3px 4px 7px #ddd;
  text-decoration: none;
  color: #0f0f0f;
  font-size: 15px;
  font-weight: bold;
  position: relative;
}
.btn-step i {
  margin-right: 30px;
  width: 20px;
}
.btn-step::before {
  content: "";
  background-color: #9356dc;
  color: #fff;
  border-radius: 30px;
  width: 25px;
  height: 25px;
  position: absolute;
  top: 20px;
  padding: 0 8px;
  left: -12px;
}
.btn-step:nth-child(1)::before {
  content: "1";
}
.btn-step:nth-child(2)::before {
  content: "2";
}
.btn-step:nth-child(3)::before {
  content: "3";
}
.btn-step:last-child {
  background-color: #f5edff;
}
.btn-step:last-child i {
  color: #9356dc;
}

.card {
  display: block;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 4px 4px 10px #ddd;
  max-width: 90%;
  margin: auto;
  color: #000;
  text-decoration: none;
  position: relative;
  margin-bottom: 20px;
}
.card:hover {
  transform: scale(1.05);
  transition: ease-in-out 0.2s;
}
.card > img {
  width: 100%;
  height: 180px;
  object-position: center;
  object-fit: cover;
  border-radius: 20px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.card div {
  display: inline-block;
  max-width: 90%;
}
.card .far.fa-heart {
  display: inline-block;
  max-width: 10%;
}
.card h3, .card p {
  line-height: 28px;
}
.card h3 {
  padding: 0 80px 0 20px;
  font-size: 21px;
}
.card p {
  padding: 0 80px 10px 20px;
  font-size: 20px;
}

.svg-icon {
  position: absolute;
  right: 20px;
  bottom: 25px;
}
.svg-icon > img:nth-child(1) {
  width: 25px;
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(270deg) brightness(1%) contrast(100%);
  display: block;
}
.svg-icon:hover > img:nth-child(1) {
  display: none;
}
.svg-icon > img:nth-child(2) {
  width: 25px;
  display: none;
}
.svg-icon:hover > img:nth-child(2) {
  display: block;
}

.header {
  background: #eaeaea;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.header__logo {
  display: block;
  max-width: 70%;
  margin: auto;
  padding: 10px;
  text-shadow: 0.55rem 0.55rem #fff;
}

.localisation {
  background: #eaeaea;
  text-align: center;
  box-shadow: inset 0px 3px 9px #bbb;
  padding: 10px;
}

.nav {
  display: block;
  margin: auto;
}

footer {
  padding: 5% 20px;
  background-color: #353535;
  color: #fff;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  font-weight: 400;
}

footer i {
  width: 25px;
}

footer .color-white {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
  max-width: 35%;
  margin-bottom: 15px;
}

header {
  width: 100%;
}

.header__logo {
  max-width: 50%;
  margin: 5px auto;
}

.img-header {
  max-width: 100%;
  position: relative;
  z-index: 0;
}

.fas.fa-arrow-left {
  position: absolute;
  left: 20px;
  top: 20px;
}

.header--menu {
  background-color: #f2f2f2;
  border-radius: 40px;
  padding-top: 25px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  margin-top: -45px;
  position: relative;
}
.header--menu h1 {
  font-size: 26px;
  font-family: "Shrikhand", sans-serif;
  padding-left: 5%;
}
.header--menu .svg-icon {
  top: 32px;
}

.menu {
  background-color: #f2f2f2;
  padding-top: 20px;
  padding-bottom: 20px;
}
.menu h2 {
  margin-left: 5%;
  margin-bottom: 20px;
  border-bottom: 3px solid #9ae3d1;
  width: 35px;
  text-transform: uppercase;
  font-weight: 400;
}

.add-to-card {
  text-align: center;
  background-color: #f2f2f2;
  padding: 20px 0 80px 0;
}

#resto {
  background-color: #f6f6f6;
  padding-bottom: 60px;
}

.fas.fa-map-marker-alt {
  margin-right: 20px;
}

#explore h2 {
  text-align: center;
  font-size: 32px;
  line-height: 30px;
  font-weight: bold;
  padding-top: 50px;
}

#explore h4 {
  font-weight: 300;
  text-align: center;
  margin: 15px 0;
  line-height: 25px;
  margin-bottom: 40px;
}

#explore {
  text-align: center;
  padding-bottom: 3.5em;
  background-color: #f6f6f6;
}

#intro {
  padding-top: 2em;
  max-width: 90%;
  margin: auto;
}

#resto h2 {
  padding-left: 5%;
  margin: 15px 0;
  padding-top: 35px;
}

.step {
  display: flex;
  flex-direction: column;
  padding-left: 12px;
  margin: 30px 0;
}

.new-product {
  color: #129172;
  font-weight: bold;
  background-color: #99e2d0;
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 15px;
  position: absolute;
  top: 15px;
  right: 15px;
}

/*# sourceMappingURL=style.css.map */
