#resto {
    background-color: #f6f6f6;
    padding-bottom: 60px;
    & h1 {
        padding-left: 5%;
        margin: 15px 0;
        padding-top: 35px;
    }
    & h2 {
        padding: 40px 5% 20px;
    }
     
}

.fas.fa-map-marker-alt {
    position: absolute;
    top: 20px;
    left: 70px;
}
  
.localisation {
    position: relative;

    & input {
        background-color: transparent;
        border: none;
        height: 40px;
        text-align: center;
        outline: none;
        font-weight: 600;
        font-size: 20px;
        width: 50%;
        &:focus-visible {
            border-bottom: 1px solid #333;
        }
    }
}

::placeholder {
    font-size: 22px;
    color: #000;
    opacity: 0.8;
}
  
#explore {
    text-align: center;
    padding-bottom: 3.5em;
    background-color: #f6f6f6;

    & h1 {
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        font-size: 29px;
        padding: 50px 20px 0;
        line-height: 32px;
        margin-bottom: 15px;
        font-style: normal;
    }
    & h4 {
        font-weight: 300;
        line-height: 24px;
        margin-bottom: 42px;
    }
      
}
  
#intro {
    padding-top: 2em;
    max-width: 90%;
    margin: auto;
}  


.step {
    display: flex;
    flex-direction: column;
    padding-left: 12px;
    margin: 30px 0;
}
  
.new-product {
    color: #129172;
    font-weight: bold;
    background-color: #99e2d0;
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 15px;
    position: absolute;
    top: 15px;
    right: 15px;
}


.fas.fa-heart {
    background: linear-gradient(to top, #9356DC 0%, #FF79DA 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
  
.fa-stack.custom {
    position: absolute;
    right: 20px;
    bottom: 25px;
    display: block;
    height: 25px;
    line-height: 1;
    width: 25px;
    
    &.fas.fa-heart {
        display: none;
    }
    &:hover {
        & .far.fa-heart {
        display: none;
        }
        & .fas.fa-heart {
            display: block;
        }
    }
    & i {
        font-size: 25px;
    }
    & .fas.fa-heart {
        display: none;
    }

}
    
  