#resto {
    background-color: #f6f6f6;
    padding-bottom: 60px;
    h1 {
        padding-left: 5%;
        margin: 15px 0;
        padding-top: 35px;
    }
    h2 {
        padding: 40px 5% 20px;
    }
    @include tablette-only {
        display: flex;
        flex-wrap: wrap;
        padding: 0 5%;
        h2 {
            padding: 40px 0 20px;
            width: 100%; 
        }
    }
}

.loader {
    width: 30px;
    height: 30px;
    position: relative;
    margin: 1em auto;
    border-radius: 50%;
    width: 4px;
    height: 4px;
    background: #fff;
    -webkit-animation-name: pacmanDot;
            animation-name: pacmanDot;
    transform: translateX(14px);

    &::before, &::after {
        content: "";
        position: absolute;
        border-radius: 50%;
        border: 14px solid #9356dc;
        border-right-color: transparent;
        top: -12px;
        left: -24px;
    }
    &, &::before, &::after {
        animation-duration: 0.5s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
    }
    &::before {
        animation-name: upperJaw;
    }
    &::after {
        animation-name: lowerJaw;
    }
}
  
  @-webkit-keyframes pacmanDot {
    0%, 50% {
      background: #f876da;
    }
    51%, 100% {
      background: none;
    }
    0%, 100% {
      transform: translateX(19px);
    }
    50% {
      transform: translateX(14px);
    }
  }
  
  @keyframes pacmanDot {
    0%, 50% {
      background: #f876da;
    }
    51%, 100% {
      background: none;
    }
    0%, 100% {
      transform: translateX(19px);
    }
    50% {
      transform: translateX(14px);
    }
  }
  @-webkit-keyframes upperJaw {
    50% {
      transform: rotate(50deg) translate(2px, -2px);
    }
  }
  @keyframes upperJaw {
    50% {
      transform: rotate(50deg) translate(2px, -2px);
    }
  }
  @-webkit-keyframes lowerJaw {
    50% {
      transform: rotate(-50deg) translate(2px, 2px);
    }
  }
  @keyframes lowerJaw {
    50% {
      transform: rotate(-50deg) translate(2px, 2px);
    }
  }

#explore {
    text-align: center;
    padding-bottom: 3.5em;
    background-color: #f6f6f6;

    h1 {
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        font-size: 29px;
        padding: 50px 20px 0;
        line-height: 32px;
        margin-bottom: 15px;
        font-style: normal;
    }
    h4 {
        font-weight: 300;
        line-height: 24px;
        margin-bottom: 42px;
    }
      
}
  
#intro {
    padding-top: 2em;
    max-width: 90%;
    margin: auto;
}  


.step {
    display: flex;
    flex-direction: column;
    padding-left: 12px;
    margin: 30px 0;
    @include desktop-only {
        flex-direction: row;
    }
}
  
.new-product {
    color: #129172;
    font-weight: bold;
    background-color: #99e2d0;
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 15px;
    position: absolute;
    top: 15px;
    right: 15px;
}


.fa-stack.custom  .fas.fa-heart {
    background: linear-gradient(to top, #9356DC 0%, #FF79DA 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    color: transparent;
}
  
.fa-stack.custom {
    position: absolute;
    right: 20px;
    bottom: 25px;
    display: block;
    height: 25px;
    line-height: 1;
    width: 25px;
    
    .fas.fa-heart {
        display: none;
    }
    &:hover {
        .far.fa-heart {
        display: none;
        }
        .fas.fa-heart {
            display: block;
        }
    }
    i {
        font-size: 25px;
    }
}
    
  