@mixin heading-shadow($colour:lightness-shift($colour-primary), $offset: $heading-shadow-size){
    text-shadow: $offset $offset $colour;
}

@mixin border($colour:$colour-primary) {
    border: .1rem solid $colour;
}

@mixin img-ratio {
    width: 100%;
        display: block;
        overflow: hidden;
        padding-top: 56.25%;
        position: relative;
        img {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 100%;
            transform: translate(-50%, -50%);
        }
}

@mixin btn {
    background-image: linear-gradient(to top, $colour-primary 0%, $colour-secondary  100%);
    padding: 1.7rem 2.5rem;
    color: $colour-white;
    cursor: pointer;
    transition: 0.5s;
    background-size: 200% auto;
    border-radius: 25px;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    &:hover{
        color: $colour-white;
        text-decoration: none;
        background-image: linear-gradient(to top, lightness-shift($colour-primary) 0%, lightness-shift($colour-secondary) 100%);
        box-shadow: 3px 4px 5px #aaa;
    }
    &--full-width {
        width: 100%;
        margin: 0 auto;
    }

}
  
@mixin btn-step {
    background-color: #f6f6f6;
    padding: 2rem 2.5rem;
    margin-bottom: 20px;
    border-radius: 20px;
    box-shadow: 3px 4px 7px #ddd;
    text-decoration: none;
    color: #0f0f0f;
    font-size: 15px;
    font-weight: bold;
    position: relative;
    counter-increment: link;
    i {
        margin-right: 30px;
        width: 20px;
    }
    &::before {
        content: "";
        background-color: #9356dc;
        color: #fff;
        border-radius: 30px;
        width: 25px;
        height: 25px;
        position: absolute;
        top: 20px;
        padding: 0 8px;
        left: -12px;
        content: counter(link);
    }
    &:hover {
        background-color: #f5edff;
        i {
            color: #9356dc;
        }
    }
    &:nth-last-child(1){
        @include desktop-only {
            margin-right: 0;
        }
    }
    @include desktop-only {
        margin-right: 5%;
        width: 30%;
    }
}


  
@mixin card {
    display: block;
    background-color: $colour-white;
    border-radius: 20px;
    box-shadow: 4px 4px 10px #ddd;
    max-width: 90%;
    margin: auto;
    color: $colour-black;
    text-decoration: none;
    position: relative;
    margin-bottom: 20px;
    &:hover{
        transform: scale(1.05);
        transition: ease-in-out .2s;
    }
    
}

@mixin card-menu {
    display: flex;
    background-color: $colour-white;
    border-radius: 20px;
    box-shadow: 4px 4px 10px #ddd;
    max-width: 90%;
    margin: auto;
    margin-bottom: 20px;
    color: $colour-black;
    text-decoration: none;
    position: relative;
    overflow: hidden;
    transform-origin: top;
    animation: .2s cubic-bezier(.25, .25, .25, 1.25) both smooth-animation;    
    &:hover {
        .check {
            transform: translateX(0px);
            opacity: 1;
            transition: all .4s;
        }
        .price {
            transform: translateX(-45px);
            @include desktop-only {
                transform: translateX(-75px);
            }
        }
        .text-container {
            overflow: hidden;
            width: 75%;
            text-overflow: ellipsis;
            transition: all .4s;
            p {
                width: 65%;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
            h3 {
                width: 85%;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
              }
        }
        .check i {
            transform: rotate(360deg);
            transition: all .4s;
        }
    
        @include tablette-only {
            .text-container {
                width: 90%;
              }
        }
    }
    @include desktop-only {
        margin: unset;
        margin-right: 6%;
        margin-bottom: 20px;
        width: 47%;
        &:nth-child(odd) {
            margin-right: 0;
        }
    }
}

@mixin tablette-only {
    @media screen and (min-width: 600px){
        @content;
    }
}
@mixin desktop-only {
    @media screen and (min-width: 1000px){
        @content;
    }
}